.caixa_width {

    /*border-width: 2px;
    border-style: solid;
    border-color: #f00;*/

    border: 2px solid #f00;

    width: 200px;
}

.imagem_width {
    width: 400px;
}

.caixa_heigth {
    border: 3px dashed #f00;

    height: 100px;
    width: 100px;
}